<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="artikal" id="<%=artikal.id%>">
    <div class="slika">
        <img src="../../uploads/<%=artikal.photo%>" alt="slika-proizvoda" height="100%" width="100%"/>
    </div>
    <div class="opis">
        <h2> <%=artikal.naziv%></h2>
        <p><%=artikal.opis%></p>
        <p><%=artikal.cijena%> KM</p>
    </div>
</div>
</body>
</html>
