<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/kupac-naslovna.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>

        function openModal(obj){
            console.log(obj);
            let datum_objave = new Date(obj.artikal_datum_objave);
            console.log(datum_objave);
            console.log(datum_objave.getDate() + '/' + (datum_objave.getMonth()+1) + '/' + datum_objave.getFullYear() + " " + datum_objave.getHours() + ":" + datum_objave.getMinutes())
            document.getElementById('trgovac_id').innerHTML = obj.id_trgovca;
            document.getElementById('exampleModalLongTitle').innerHTML = obj.artikal_id;
            document.getElementById('imgsrc').src = "../../uploads/" + obj.artikal_photo;
            document.getElementById('naziv_artikla').innerHTML = obj.artikal_naziv;
            document.getElementById('cijena_artikla').innerHTML = obj.artikal_cijena + " KM";
            document.getElementById('naziv_trgovine').innerHTML = obj.trgovina_naziv;
            document.getElementById('broj_telefona').innerHTML = obj.trgovina_telefon;
            document.getElementById('trgovina_grad').innerHTML = obj.trgovina_grad;
            document.getElementById('trgovina_adresa').innerHTML = obj.trgovina_adresa;
            document.getElementById('datum_objave').innerHTML = datum_objave.getDate() + '/' + (datum_objave.getMonth()+1) + '/' + datum_objave.getFullYear() + " " + datum_objave.getHours() + ":" + datum_objave.getMinutes();
            document.getElementById('opis_proizvoda').innerHTML = obj.artikal_opis;
            document.getElementById('artikal_kolicina').innerHTML = obj.artikal_kolicina;
        }

        function posjetiTrgovca(){
            let trgovac_id = document.getElementById('trgovac_id').innerHTML;
            window.location.href = "/kupac/trgovina/" + trgovac_id;
        }
         var messenger = false;
        function otvoriChat(){
            if(messenger === false) {
                $('#messenger').addClass('message-dropdown');
                $('#messenger').removeClass('hide')
                messenger = true;
            }
            else if(messenger === true){
                $('#messenger').addClass('hide');
                $('#messenger').removeClass('"message-dropdown')
                messenger = false;
            }
        }
        var posaljiporukukupcu = null;
        var socket = io.connect("ws://localhost:3000");

        socket.on("connect", () => {
            let obj = {};
            obj.kupac = <%-JSON.stringify(kupac)%>
            obj.socketID = socket.id;
            document.getElementById('poruke').textContent = "Dobrodosli na chat" + socket.id;
            socket.emit("kupac_se_logovao", obj );
        })

        socket.on("kupci_trgovci", (p) => {
                for(let i = 0; i < p.length; i++) {
                    let button = document.createElement('button');

                    button.textContent = p[i].kupac.ime + " " + p[i].kupac.prezime;
                    button.onclick = function () {
                        posaljiporukukupcu = p[i].kupac.id;
                        console.log(posaljiporukukupcu);
                    }
                    document.getElementById('kupci').append(button);
                }
        })

        socket.on("primi_poruku",(p) => {
            let div = document.createElement('div');
            let naslov = document.createElement('p');
            naslov.innerHTML = p.posiljalac;
            naslov.className = "poruka-naslov";
            let poruka = document.createElement('p');
            poruka.innerHTML = p.poruka;
            poruka.className = "poruka-opis";
            div.className = "poruka-box";
            div.append(naslov);
            div.append(poruka);
            document.getElementById('poruke').append(div);
        })

        socket.on("primi_poruku_posiljalac", (p) => {
            let div = document.createElement('div');
            let naslov = document.createElement('p');
            naslov.innerHTML = "You";
            naslov.className = "poruka-naslov";
            let poruka = document.createElement('p');
            poruka.innerHTML = p.poruka;
            poruka.className = "poruka-opis";
            div.className = "poruka-box";
            div.append(naslov);
            div.append(poruka);
            document.getElementById('poruke').append(div);
        })

        function posaljiPoruku(posiljalac){
            let obj={}
            obj.destinacija = posaljiporukukupcu;
            let poruka = document.getElementById('poruka').value;
            obj.poruka = poruka;
            obj.posiljalac = posiljalac.ime + " " +  posiljalac.prezime
            obj.posiljalacID = posiljalac.id;
            console.log(obj);
            if(poruka !== ''){
                socket.emit("klijent_salje_poruku_za_usera",obj);
            }
        }

    </script>
</head>
<body>
    <div class="kupac-naslovna">
        <header class="header">
            <nav><a href="/kupac">Pocetna</a></nav>
            <nav><a href="/kupac/artikli">Artikli </a></nav>
            <nav><a href="/kupac/trgovci">Trgovci</a></nav>
            <nav><a href="/kupac/profil/<%=kupac.id%>"><%=kupac.ime%> <%=kupac.prezime%></a></nav>
        </header>
                <h3 class="naslov-artikala">Najpopularniji artikli</h3>
                <div class="artikli" id="artikli">
                    <%najpopularniji.forEach(artikal => { %>
                    <div class="artikal" id="<%=artikal.id%>" data-toggle="modal" data-target="#exampleModalCenter" onclick="openModal(<%=JSON.stringify(artikal)%>)">
                        <div class="slika">
                            <img src="/uploads/<%=artikal.artikal_photo%>" alt="slika-proizvoda" height="100%" width="100%"/>
                        </div>
                        <div class="opis">
                            <h2><%=artikal.artikal_naziv%></h2>
                            <p><%=artikal.artikal_opis%></p>
                            <p><%=artikal.artikal_cijena%> KM</p>
                            <p><%=artikal.artikal_datum_objave.toLocaleString("de-DE",{year: 'numeric', month: '2-digit', day: '2-digit'})%></p>
                        </div>
                    </div>
                    <%})%>
                </div>

        <h3 class="naslov-artikala">Preporuceni artikli</h3>
        <div class="artikli" id="artikli">
            <%najpopularniji.forEach(artikal => { %>
            <div class="artikal" id="<%=artikal.id%>" data-toggle="modal" data-target="#exampleModalCenter" onclick="openModal(<%=JSON.stringify(artikal)%>)">
                <div class="slika">
                    <img src="/uploads/<%=artikal.artikal_photo%>" alt="slika-proizvoda" height="100%" width="100%"/>
                </div>
                <div class="opis">
                    <h2><%=artikal.artikal_naziv%></h2>
                    <p><%=artikal.artikal_opis%></p>
                    <p><%=artikal.artikal_cijena%> KM</p>
                    <p><%=artikal.artikal_datum_objave.toLocaleString("de-DE",{year: 'numeric', month: '2-digit', day: '2-digit'})%></p>
                </div>
            </div>
            <%})%>
        </div>

        <h3 class="naslov-artikala">Proizvoljni artikli</h3>
        <div class="artikli" id="artikli">
            <%najpopularniji.forEach(artikal => { %>
            <div class="artikal" id="<%=artikal.id%>" data-toggle="modal" data-target="#exampleModalCenter" onclick="openModal(<%=JSON.stringify(artikal)%>)">
                <div class="slika">
                    <img src="/uploads/<%=artikal.artikal_photo%>" alt="slika-proizvoda" height="100%" width="100%"/>
                </div>
                <div class="opis">
                    <h2><%=artikal.artikal_naziv%></h2>
                    <p><%=artikal.artikal_opis%></p>
                    <p><%=artikal.artikal_cijena%> KM</p>
                    <p><%=artikal.artikal_datum_objave.toLocaleString("de-DE",{year: 'numeric', month: '2-digit', day: '2-digit'})%></p>
                </div>
            </div>
            <%})%>
        </div>








        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="display: none"></h5>
                        <h5 id="trgovac_id" style="display:none"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group header_artikla">
                            <img class="modal-slika" id="imgsrc"/>
                            <div class="o_artiklu">
                                <h3 id="naziv_artikla"></h3>
                                <h5 id="cijena_artikla"></h5>
                                <p id="naziv_trgovine"></p>
                                <div class="dodatne_kategorije">
                                    <div>
                                        <span>Stanje</span>
                                        <p id="artikal_stanje">Novo</p>        <!--  DODATI DINAMICKI STANJE U FUNKCIJI openModal  -->
                                    </div>
                                    <div>
                                        <span>Lokacija</span>
                                        <p id="trgovina_grad"></p>
                                    </div>
                                    <div>
                                        <span>Adresa</span>
                                        <p id="trgovina_adresa"></p>
                                    </div>
                                    <div>
                                        <span>Datum objave</span>
                                        <p id="datum_objave"></p>
                                    </div>
                                    <div>
                                        <span>Kontakt</span>
                                        <p id="broj_telefona"></p>
                                    </div>
                                    <div>
                                        <span>Kolicina</span>
                                        <p id="artikal_kolicina"></p>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="form-group artikal_opis">
                            <h3>Opis</h3>
                            <p id="opis_proizvoda"></p>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="posjetiTrgovca()">PosjetiTrgovca</button>
                    </div>
                </div>
            </div>
        </div>
        <img class="icona" onclick="otvoriChat()" src="/images/messenger.png"></div>

        <div id="messenger" class="hide">
            <div class="useri">
                <h3>Kupci</h3>
                <div id="kupci">

                </div>
                <h3>Trgovci</h3>
                <div id="trgovci"></div>
            </div>
            <div class="message-box">
                <div id="poruke" class="poruke">

                </div>
                <div class="salji">
                    <input type="text" id="poruka" />
                    <button onclick="posaljiPoruku(<%=JSON.stringify(kupac)%>)">Posalji</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
